
.tier {
	display:inline-block;
	padding:5px;
	margin-right:10px;
	margin-left:10px;
}

img {
	width:250px;
	position:relative;
}


.picture {
	position:relative;
}


.petitTexte {
	background-color:grey;
	padding:10px;
	position:absolute;
}


.row1 .petitTexte {
	position:absolute;
	background-color:grey;
	top:136px;
	width:250px;
}

.row2 .petitTexte {
	position:absolute;
	background-color:grey;
	top:338px;
	width:250px;
}

.row3 .petitTexte {
	position:absolute;
	background-color:grey;
	top:640px;
	width:250px;
}



.cache {
	display:none;
}

