
body {
  font-family:Verdana, sans-serif;
  color:black;
  background-image:url("../img/dark.png");
  margin:0;
  width:100%;
}

#entete{
  padding:3px;
  background-color:#e3e3e3;
  border-radius:10px;
  height: 105px;
}

.contenu ul li {
    color: rgb(230, 231, 230);
    float:right;
    font-size: 20px;
    margin:9px;
    padding: 7px;
}

#all {
    width:900px;
    background-color:white;
    margin:0 auto ;
    padding:20px;
    box-shadow: 0px 4px 28px 5px rgba(0,0,0,0.71);
    box-shadow: 0px 4px 28px 5px rgba(0,0,0,0.71);
    box-shadow: 0px 4px 28px 5px rgba(0,0,0,0.71);
}


.njlogo {
  width: 100px;
  height: 100px;
  margin: 0;
  float:left;
    
}



.ninjahtml {
    float:left;
}


#ninjawallpaper {
    width:400px; 
    height:300px;
    padding:10px;
}

#first {
    border-bottom:1px dotted grey;
}

#introduction h1 {
    color: #16B84E;
    padding: 14px 0px 21px 0px;
    font-family: arial;
    margin: 0;
    text-align:center;

}

#introduction p {
  margin:0;
  line-height: 150%;
  text-align:center;
  
}



}
#middle {
    
}

#middle p {
    line-height: 150%
}

#before {
  width: 400px;
  float: left;
  text-align:center;
  padding:5px;
}

#present {
  border-bottom:1px dotted grey;
  padding-bottom:48px;
  text-align:center;
  padding:5px;
}



a:link { 
 text-decoration:none; 
 color: white;
}

li {
  list-style: none;
}

.logodev {
   height: 120px;
    width: 150px;
    float: left;
    padding-left:35px;
}

.langage {
    margin: 15px;
    padding-bottom:12px;
}
    
.barrevide {
   background: black;
    height: 25px;
    width: 270px;
    border: 1px solid black;
    border-radius:10px;
    float:right;
    margin: 50px 240px 0 0;
    padding:2px;

}

.barrecontent {
    background:#e44d26;
    height:20px;
    width:135px;
    border-radius:9px;
    padding: 4px 0px 1px 0;
}

.barrecontent2 {
    background:#0070ba;
    height:20px;
    width:135px;
    border-radius:9px;
    padding: 4px 0px 1px 0;
}

.barrecontent3 {
    background:#d6ba32;
    height:20px;
    width:80px;
    border-radius:9px;
    padding: 4px 0px 1px 0;
}

.barrecontent4 {
    background:#526191;
    height:20px;
    width:50px;
    border-radius:9px;
    padding: 4px 0px 1px 0;
}



#before h2  {
color: blue;
font-family:cursive;
text-align:center;
padding:5px;
margin:0;

}




#footer {
 
  border-radius:10px;
  border:3px solid grey;
  
  background-color:#e0e0e0;
}

#apropos {
  width:250px;
  padding-left: 30px;
  float:left;
  padding-right: 125px;
}


#footer h3 {
  text-align:center;
}

#apropos p {
  margin:0;
  text-align:center;
  letter-spacing: 1px;
line-height: 120%;
}


#referencesweb {
  padding-top: 24px;
  width: 610px;
  float: left;
  padding-right: 100px;

}

#referencesweb h3 {
  text-align:center;
  font-style:italic;
  margin: 0;
  padding-right:  45px;
  padding-bottom:60px;
}

.logowebreference {
  width:165px;
  
  padding:10px;
}


#minimap {
  padding:0px;
  margin:0px;
}



.progressbar {
  height:20px;
  background:black;
  border-radius:5px;
  width:350px;
  padding:3px;
}

.content {
  height:20px;
  background:#EEE;
  width:50%;
}

.progressbar.html .content{
  background:blue;
}







/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/



/* CV START */
#retour {
  float:left;
  margin: 13px 0px 0px 11px;
}


#retour p {
  color:white;
  font-style:italic;
  margin-bottom: 75px;
}

.apropos {
  float:left;
  width:300px;
  margin-right:40px;
  text-align:center;
}



.apropos img{
  display:inline-block;

}

.apropos h2 {
  color:black;
  background:
linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
background-color:#e1ebbd;
background-size: 128px 128px;
}
.col-right {
  float:right;
  width:560px;
}

#parcours {
  clear:both;
}

#parcours h2 {
  text-align:left;

}



a:link { 
 text-decoration:none; 
 color: white;
} 

a:visited {
    
    text-decoration:none;
}

.rubriques a:visited {
  color:white;
}

.entete {
  padding:3px;
  
  background-color:#e3e3e3;
  border-radius:10px;
}

.textpres {
  float:left;
  color:white;
  margin:2px 500px 0 0;
}

.rubrique {
    margin-left: auto;
    margin-right:auto;
}

.rubriques ul {
padding-left:0;
}

.rubriques ul li {
  padding-bottom:30px;
  color:white;

}

.rubrique ul li { 
  color: rgb(230, 231, 230);
  float:right;
  font-size: 15px;
  margin:17px 70px 10px 50px;
  padding: 7px;
  text-shadow: 0px -1px 0px rgba(30, 29, 30, 0.8);
  
}
   

h1 {
  color:#16B84E;
}

.apropos h2 {
  color:black;
}

h3 {
  color:#82C46C;
}

li {
  color:black;
}

.comp {
  color:black;
}



.xp {
  font-weight:bold;
}

.domaine {
  float:left;
  margin-right:50px;
}


#competence ul li {
  margin: 0 0 15px 0;
}

.first {
  text-decoration:underline;
  color:black solid;
  list-style:none;
  margin: 0 0 15px 0;
  font-style: italic;
}

.first2 {
  float:left;
}

.right {
  float:right;
}

.footer {
  
  width:100%; 
  border-radius:10px;
  padding:4px; 
  border:3px solid grey;
  padding:3px;
  background-color:#e0e0e0;
}

.inner2 img {
  height:20px;
   width:30px;
}

.inner2 {
  float:left;
  margin: 0 600px 0 5px;
}


/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* CV END */


/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/



















/*Hack */
.clearfix {
  overflow: auto;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



