
body {
  font-family:Verdana, sans-serif;
  color:black;
  background-color:white;
  margin:0;
  width:100%;
}

#entete{
  background-color:#14161b;
  height: 81px;
}

#entete span {
  margin:0;
  font-family:Garamond, serif;
  color:#CCCCFF;
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
  
}

#entete small {
  display:block;
  margin-top:10px;
}

 a {
color:#2eb398;
display:inline-block;

 }

#entete .contenu li a {
 
  padding-right: 50px;
  line-height:80px;
  text-align:center;
  font-family:Bookman;

}

#entete .contenu li a:hover {
  background-color:#2eb398;
  height:81px;
  color:white;
  
}


.contenu ul li {
    color: rgb(230, 231, 230);
    float:right;
    font-size: 20px;
    background-color:#14161b;
}

.contenu ul{
  margin:0;
  background-color:#14161b;

}

#all {
    width:900px;
    background-color:white;
    margin:0 auto ;
    padding:20px;
    
}


.njlogo {
  height: 80px;
  width:80px;
  margin: 0;
  float:left;
  padding-right:5px;
    
}



.ninjahtml {
    float:left;
}


#ninjawallpaper {
    width:400px; 
    height:300px;
    padding:10px;
}

#first {
    border-bottom:1px dotted grey;
}

#introduction h1 {
    color: #2eb398;
    padding: 50px 0px 21px 0px;
    font-family: Bookman;
    margin: 0;
    text-align:center;

}

#introduction p {
  margin:0;
  line-height: 150%;
  text-align:center;
  
}


#middle p {
  
    line-height: 150%;
    
}

#mescompetences h2 {
  margin:35px 0;
  color:#2eb398;
}

#before {
  width: 400px;
  float: left;
  text-align:center;
  padding:5px;
}

#present {
  border-bottom:1px dotted grey;
  padding-bottom:48px;
  text-align:center;
  padding:5px;
}

.imgCompetence {
  height:60px;
  width:60px;
  float:left;
  border-radius:5px;
  padding-right:20px;
  padding-bottom:10px;
}

li {
  list-style: none;
}

.logodev {
   height: 90px;
    width: 118px;
    float: left;
    padding-left:35px;
}

.langage {
    margin: 15px;
    padding-bottom:12px;
}
    
.barrevide {
   background: black;
    height: 17px;
    width: 270px;
    border: 1px solid black;
    border-radius:15px;
    float:right;
    margin: 50px 240px 0 0;
    padding:2px;

}

.barrecontent {
    background:#f16529;
    height:12px;
    width:135px;
    border-radius:9px;
    padding-top: 5px;
}

.barrecontent2 {
    background:#0070ba;
    height:12px;
    width:135px;
    border-radius:9px;
    padding-top: 5px;
}

.barrecontent3 {
    background:#d6ba32;
    height:12px;
    width:80px;
    border-radius:9px;
    padding-top: 5px;
}

.barrecontent4 {
    background:#526191;
    height:12px;
    width:50px;
    border-radius:9px;
    padding-top: 5px;
}



#before h2  {
color: #2eb398;
font-family:cursive;
text-align:center;
padding:5px;
margin:0;

}

#present h2 {
  color:#2eb398;
  font-family:cursive;
  text-align:center;
  padding:5px;
  margin:0;
}



#footer {
   background-color:#14161b;width :1580px;
   width:100%;

}

#apropos {
  width:250px;
  padding-left: 30px;
  float:left;
  padding-right: 50px;
}


#footer h3 {
  margin:0;
  text-align:center;
 color:#2eb398;
}

#apropos p {
  margin:0;
  text-align:center;
  letter-spacing: 1px;
line-height: 120%;
color:#2eb398;
}


#referencesweb {
  width:580px;
  padding-left: 30px;
  float:left;
  padding-right: 30px;

}

#referencesweb h3 {
  text-align:center;
  font-style:italic;
  margin: 0;
  padding-right:  30px;
  padding-bottom:60px;

}

.logowebreference {
  width:165px;
  padding:10px;
}


#minimap {
  margin:0;
  text-align:center;
  letter-spacing: 1px;
line-height: 120%;
color:#2eb398;
width:300px;
float:right;
padding-right:16px;
}



.







/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/



/* CV START */
#intro h1 {
  color:grey;
}

#retour {
  float:left;
  margin: 13px 0px 0px 11px;
}


#retour p {
  color:white;
  font-style:italic;
  margin-bottom: 75px;
}

.apropos {
  
  margin-right:40px;
  text-align:center;
}



.apropos img{
  float:left;

}
.apropos p {
  font-size:17px;
  margin-top:80px;
}




#parcours {
  clear:both;
}

#parcours h2 {
  text-align:left;

}

#parcours .row1 {
  float:left;
  margin-right:230px;
  border-right:1px solid black;
  padding-right:155px;
}

#parcours h3 {
  color:#2eb398;
}


a:link { 
 text-decoration:none; 
 color: white;
} 

a:visited {
    
    text-decoration:none;
}

.rubriques a:visited {
  color:white;
}


.textpres {
  float:left;
  color:white;
  margin:2px 500px 0 0;
}

.rubrique {
    margin-left: auto;
    margin-right:auto;
}

.rubriques ul {
padding-left:0;
}

.rubriques ul li {
  padding-bottom:30px;
  color:white;

}

.rubrique ul li { 
  color: rgb(230, 231, 230);
  float:right;
  font-size: 15px;
  margin:17px 70px 10px 50px;
  padding: 7px;
  text-shadow: 0px -1px 0px rgba(30, 29, 30, 0.8);
  
}
   



.apropos h2 {
  color:#2eb398;
}



li {
  color:black;
}

.comp {
  color:black;
}



.xp {
  font-weight:bold;
}

.domaine {
  float:left;
  margin-right:50px;
}


#competence ul li {
  margin: 0 0 15px 0;
}




#entete ul li {
  margin:0;
}
.first {
  text-decoration:underline;
  color:black solid;
  list-style:none;
  margin: 0 0 15px 0;
  font-style: italic;
  font-size:20px;
}

.first2 {
  float:left;

}

.right {
  float:right;
}



.inner2 img {
  height:20px;
   width:30px;
}

.inner2 {
  float:left;
  margin: 0 600px 0 5px;
}


/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

/* CV END */


/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/


/* ABOUT ME START*/


#multimedia {
  margin: 20px 20px 42px 20px;
  padding-bottom:5px;
}

.tableau {
  border-bottom:1px solid black;
  text-align:center;
  background-color:#14161b;
  font-size:24px;
}

th {
  text-align:center;
  background-color:grey;
  font-family: arial;
}


td 
{
  border:1px solid white;
  padding:5px;
  font-family:arial;
}

.tableau td {
  color:#2eb398;
}

.row td { 
border:2px solid white;
padding:5px;

}

.ligne1{
  background-color:#eeeeee;
}

.ligne2{
  background-color:grey;
}



#multimedia {
  margin: 20px 20px 42px 20px;
  padding-bottom:5px;
}

.tableau {
  border-bottom:1px solid black;
  text-align:center;
  background-color:#14161b;
  font-size:24px;
}

th {
  text-align:center;
  background-color:grey;
  font-family: arial;
}
td 
{
  border:1px solid white;
  padding:5px;
  font-family:arial;
}

.tableau td {
  color:#2eb398;
}

.row td { 
border:2px solid white;
padding:5px;

}

.ligne1{
  background-color:#eeeeee;
}

.ligne2{
  background-color:grey;
}


#ninjutsu h2 {
  text-align:center;
}



#ninjutsu p {
  margin:0;
  padding:8px;
  text-align:center;
}

/* EBOUT ME END*/


/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/

/* Contact START*/
#join h3 {
color: #2eb398;
}

#rateme h3 {
  color: #2eb398;
}

input[type=submit] {
  margin:37px;
} 

/* Contact END*/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/










/*Hack */
.clearfix {
  overflow: auto;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



