.relative {
	position:relative;
	margin:10px 10px;
 	float:left;
  width:200px;
}

img {
	width : 200px;
	opacity:0.5;
}

img:hover {
	opacity:1.0;
	}

	.hide {
		display:none;
	}

.description {
	background:grey;
 	position:absolute;
 	bottom:0px;
 	left:0;
 	right:0;
 	padding:5px 5px;
}
